<h4> Directory </h4>
<hr/>

<div >


<div class="row d-flex justify-content-center mt-1" style="font-size:14px;margin-left:30px">

       <div style="margin-right:1em">

        <mat-form-field style="margin-right:30px;width: 300px;">
          <input matInput [(ngModel)]="customer.custCIF" (keyup.enter)="loadCustomers()" placeholder="Enter Customer CIF" autocomplete="off" />
        </mat-form-field>

        <mat-form-field style="margin-right:30px; width: 300px;">
          <input matInput [(ngModel)]="customer.custName" (keyup.enter)="loadCustomers()" placeholder="Enter Customer Name" autocomplete="off" />
        </mat-form-field>

        <button mat-fab color="primary" [disabled]="isProcessing" (click)="loadCustomers()" style="margin-right:1em;margin-top:5px;margin-left:1em" matTooltip="Search" matTooltipPosition="right">
          <mat-icon>search</mat-icon>
        </button>

      </div>

</div>

<div *ngIf="!customers">
      <div  class="d-flex justify-content-center row align-items-center" style="height:50vh">

        <div class="alert alert-info" style="font-size: 14px;" role="alert">

          <div  class="tin-input-row">
            <mat-icon style="font-size: 30px;" >info</mat-icon>&nbsp; Enter CIF OR part of Customer Name then search.
          </div>

        </div>

      </div>

</div>



<div class="mat-elevation-z8 mt-2" *ngIf="customers">

<table mat-table [dataSource]="customers">

<ng-container matColumnDef="custID">
<th mat-header-cell *matHeaderCellDef> Cust ID </th>
<td mat-cell *matCellDef="let row"> {{row.custID}} </td>
</ng-container>

<ng-container matColumnDef="custName">
<th mat-header-cell *matHeaderCellDef> Customer Name </th>
<td mat-cell *matCellDef="let row"> {{row.custName}} </td>
</ng-container>

<ng-container matColumnDef="custCIF">
<th mat-header-cell *matHeaderCellDef> Customer CIF </th>
<td mat-cell *matCellDef="let row"> {{row.custCIF}} </td>
</ng-container>

<ng-container matColumnDef="Action">
<th mat-header-cell *matHeaderCellDef> Action </th>
<td mat-cell *matCellDef="let row" style="width: 150px;">

<button mat-mini-fab color="primary" (click)="viewCustomer(row)" style="margin-right:5px" > <mat-icon>pageview</mat-icon></button>

<!-- <button mat-mini-fab color="warn" (click)="editCustomer(row)" style="margin-right:5px" > <mat-icon>edit</mat-icon></button>  -->

<!-- <button mat-mini-fab color="warn" (click)="deleteCustomer(row)" style="margin-right:5px" > <mat-icon>delete</mat-icon></button>  -->

</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>

<mat-paginator #tablePaginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>

</div>
