
<h2 mat-dialog-title>Contact Details</h2>
<mat-dialog-content class="mat-typography">

<div class="tin-input" style="font-size:12px">

<spa-text *ngIf="editMode" display="Group" [(value)]="contact.groupName" readonly="true" ></spa-text>

<spa-select *ngIf="!editMode" display="Group" [options]="groups" optionDisplay="groupName" optionValue="groupID"  [(value)]="contact.groupID" ></spa-select>

<!-- <spa-text display="Emails" [(value)]="contact.contactEmail" ></spa-text> -->


    <div class="row mt-3 mb-3" style="max-height: 200px;overflow: hidden;overflow-y: auto">
      <div class="col">
        <mat-form-field style="width: 100%;">
          <mat-label>Recipients</mat-label>
          <mat-chip-list #chipListEmails >
            <mat-chip *ngFor="let email of emails" selectable  removable style="font-size: 12px;" (removed)="removeEmail(email)"> {{email}} <mat-icon matChipRemove *ngIf="myRole[dataService.capContact_delete.name]">cancel</mat-icon> </mat-chip>
            <input placeholder="Enter recipient emails seperated by semicolons" [matChipInputFor]="chipListEmails" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addEmail($event)" autocomplete="off">
          </mat-chip-list>
        </mat-form-field>
      </div>

    </div>

<!-- <spa-text display="Phones" hint="Enter phone numbers seperated by semicolons" [(value)]="contact.contactPhone" [required]="false" ></spa-text> -->

    <div class="row mt-3 mb-3" style="max-height: 200px;overflow: hidden;overflow-y: auto">
      <div class="col">
        <mat-form-field style="width: 100%;">
          <mat-label>Phones</mat-label>
          <mat-chip-list #chipListPhones >
            <mat-chip *ngFor="let phone of phones" selectable  removable style="font-size: 12px;" (removed)="removePhone(phone)"> {{phone}} <mat-icon matChipRemove>cancel</mat-icon> </mat-chip>
            <input placeholder="Enter phones seperated by semicolons" [matChipInputFor]="chipListPhones" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addPhone($event)" autocomplete="off">
          </mat-chip-list>
        </mat-form-field>
      </div>

    </div>

</div>

</mat-dialog-content>

<mat-dialog-actions>
<button mat-button [disabled]="isProcessing" (click)="submit()" cdkFocusInitial>Submit</button>
<button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
