
<h2 mat-dialog-title>{{customer.custName}} ({{customer.custCIF}})</h2>
<mat-dialog-content class="mat-typography">

<div class="tin-input" style="font-size:12px">


  <div *ngIf="contacts.length == 0 ">

      <div  class="d-flex justify-content-center row align-items-center" style="height:30vh">
        <button *ngIf="myRole[dataService.capContact_add.name]" mat-raised-button color="primary" (click)="addContact()">Add Contact Details</button>
        <label *ngIf="!myRole[dataService.capContact_add.name]">No Details</label>
      </div>

  </div>

  <div *ngIf="contacts.length > 0" class="tin-input-row" >

    <div class="col">
      <button *ngIf="myRole[dataService.capContact_add.name]" mat-stroked-button color="primary" style="margin-left: 1em;" (click)="addContact()"><mat-icon>add</mat-icon> Add Contact Details</button>
    </div>

      <div class="col">
        <div class="d-flex justify-content-end">
            <!-- <spa-select  display="Select Group" [options]="contacts" optionDisplay="groupName" optionValue="groupName"  [(value)]="selectedGroupName" width="300px" (valueChange)="submit()" ></spa-select> -->
        </div>
      </div>

  </div>


  <div class="row" style="margin-left:10px;margin-right:10px">

    <mat-card *ngFor="let row of contacts"  style="margin:10px 10px 10px 10px;width:100%">

      <!-- <h4>{{row.groupName}}</h4> -->
      <label style="font-size:20px;font-weight: 300;">{{row.groupName}}</label>
      <hr style="margin-top: 0px;" />

      <div class="row justify-content-between">

      <div class="col">

        <div class="tin-input-row">

          <mat-chip-list >
            <mat-icon color="primary" style="font-size: 18px;">email</mat-icon>
            <mat-chip style="font-size: 12px;" *ngFor="let chip of row.contactEmail.split(';')" >
              {{chip}}
            </mat-chip>
          </mat-chip-list>

        </div>

        <div class="tin-input-row mt-2">

          <mat-chip-list >
            <mat-icon color="primary" style="font-size: 18px;">phone</mat-icon>
            <mat-chip style="font-size: 12px;" *ngFor="let chip of row.contactPhone.split(';')" >
              {{chip}}
            </mat-chip>
          </mat-chip-list>
          <!-- <mat-icon color="primary" style="font-size: 18px;">phone</mat-icon> {{row.contactPhone}} -->
        </div>

      </div>

      <div class="col-1">
        <button *ngIf="myRole[dataService.capContact_edit.name]" mat-mini-fab color="warn" (click)="editContact(row)"  style="margin-right:5px"> <mat-icon>edit</mat-icon></button>
      </div>

    </div>

    </mat-card>

  </div>


</div>

</mat-dialog-content>

<mat-dialog-actions>
<!-- <button mat-button [disabled]="isProcessing" (click)="submit()" cdkFocusInitial>Submit</button> -->
<button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>



